{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>TEST</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="{% static 'styles/a.css' %}" rel="stylesheet" media="screen" type="text/css" />
		<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<article>
				<div class="row" id="row">
					<div class="col-md-5 col-sm-5 col-md-push-1 col-sm-push-1">
						<div class="carousel slide" id="Carousel" data-ride="carousel" data-interval="4000">
							<!-- 轮播页码 -->
							<ol class="carousel-indicators">
								<li data-target="#Carousel" data-slide-to="0" class="active"></li>
								<li data-target="#Carousel" data-slide-to="1"></li>
								<li data-target="#Carousel" data-slide-to="2"></li>
								<li data-target="#Carousel" data-slide-to="3"></li>
							</ol>
							<!-- 轮播项目 -->
							<div class="carousel-inner">
								<div class="item active">
									<img style="width:456px;height:300px;" src="{% static 'images/apple.jpg' %}" alt="" />
									<div class="carousel-caption"><b>1</b></div>
								</div>
								<div class="item">
									<img style="width:456px;height:300px;" src="{% static 'images/banana.jpg' %}" alt="" />
									<div class="carousel-caption"><b>2</b></div>
								</div>
								<div class="item">
									<img style="width:456px;height:300px;" src="{% static 'images/cherry.jpg' %}" alt="" />
									<div class="carousel-caption"><b>3</b></div>
								</div>
								<div class="item">
									<img style="width:456px;height:300px;" src="{% static 'images/flower.png' %}" alt="" />
									<div class="carousel-caption"><b>4</b></div>
								</div>
							</div>
							<!-- 轮播导航-->
							<a class="carousel-control left" href="#Carousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left">
								</span>
							</a>
							<a class="carousel-control right" href="#Carousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right">
								</span>
							</a>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 col-md-push-1 col-sm-push-1">
						<div class="well">
							<h1>啦啦啦啦啦啦了</h1>
							<p>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-push-2">
						<canvas hidden="hidden" id="drawing1"></canvas>
						<p style="visibility:hidden;" id="word">编程小白的人生之路</p>
					</div>
				</div>
				<button class="btn btn-default btn-lg center-block"><img src="{% static 'images/button.png' %}" style="width:50px;height:35px;" /></button>
				<img hidden="hidden" src="{% static 'images/flower.png' %}" id="flower" />
			</article>
			<footer>
				<p>Designed by <abbr title="一只徘徊在十字路口的编程小白">ZJW</abbr>&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/">浙ICP备17037327号</a></p>
			</footer>
		</div>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble1" class="bubble" />
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble2" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble3" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble4" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble5" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble6" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble7" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble8" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble9" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble10" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble11" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble12" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble13" class="bubble"/>
		<img src='{% static "images/bubble.png" %}' style="width:100px;height:100px;" id="bubble14" class="bubble"/>
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static 'scripts/globalbig.js' %}"></script>
	</body>
</html>